.connexion {
    padding: 5em;
    background-image: url('../images/connexion.jpg');
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color : red;
}

.btn {
    margin : 1em;
}
