<footer class="footer-bg">
    <div class="container">
        <div class="row text-center p-3">

            <div class="col-md-4 m-auto">
                <p>Copyright © DSARRAZY 2020</p>
            </div>

            <div class="col-md-4 footer-text">
                <div class="footer-social-icons">
                    <a href="https://www.linkedin.com/in/damien-sarrazy-7b18bb169/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/DSARRAZY" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.facebook.com/damien.sarrazy" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/DamienSARRAZY" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <div class="col-md-4 m-auto">
                <p>Made with&nbsp;<i class="fas fa-coffee"></i>&nbsp;and&nbsp;<i class="fas fa-music"></i>&nbsp; by Damien SARRAZY</a>
                </p>
            </div>

        </div>
    </div>
</footer>


