{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <section id="new_project">
        <h1>Ajouter un nouveau projet</h1>

        {{ include('project/_form.html.twig') }}

        <a href="{{ path('project_index') }}">back to list</a>
    </section>
{% endblock %}
